.imageElliot{
width: 40%;
display: inline-block;
background-color: #007a79;
    padding: 5px;
}

.inLine{
    padding: 0;
    height: 400px;
    display: inline-table;
    width: 33%;
    list-style: none;
    background-color: #313c33;
}
.inLine p{
    text-align: center;
    background-color: #007a79;

}

body footer{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: #002a29;
    padding: 2% 0 2% 0;
    text-align: center;
}

}

.mainElliot{
    display: inline-block;
    padding: 0;
    margin: 0;
}
